/* .container {
    max-width: 1053px !important;
} */

body {
    background-color: black !important;
    font-family: "Comic Neue", cursive !important;
}

.grid {
    position: relative;
    list-style: none;
    text-align: center;
}


/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    /* min-width: 320px; */
    max-width: 250px;
    max-height: 375px;
    min-height: 375px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    box-shadow: 12px 12px 18px -6px rgba(255, 255, 255, 0.3);
}

.grid :hover {
    background-color: black;
    filter: opacity(0.9);
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    /* opacity: 0.8; */
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
    text-transform: capitalize;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-marley figcaption {
    text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
    position: absolute;
    right: 30px;
    left: 30px;
    /* padding: 10px 0; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

figure.effect-marley p.genres {
    position: absolute;
    right: 30px;
    left: 30px;
    /* padding: 10px 0; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

figure.effect-marley p.title {
    font-size: x-large;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

figure.effect-marley h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

figure.effect-marley p.overview {
    /* top: 40px; */
    bottom: 120px;
    line-height: 1.5;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-marley p.rating {
    bottom: 230px;
    /* line-height: 1.5; */
    /* -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); */
}

figure.effect-marley p.release_date {
    font-size: 15px;
    /* top: 40px; */
    bottom: 90px;
    line-height: 1.5;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-marley p.genres {
    /* top: 40px; */
    bottom: 35px;
    line-height: 1.5;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-marley h2 {
    top: 20px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-marley:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-marley h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    content: "";
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.genres-btn {
    border-radius: 50%;
}

.smallLoadingSpinner {
    margin-top: 50px;
    margin-left: 75px;
}

.navItem {
    text-transform: capitalize;
    font-weight: bold;
    color: #5274af !important;
    /* 52af77 */
}

.nav {
    font-size: x-large;
}


/* .filter_col {
    border-right: white 1px solid;
} */

.nothing-prompt {
    color: white;
    font-size: xx-large;
}

#range-slider {
    font-family: "Comic Neue", cursive !important;
    font-weight: 900;
    border-bottom: 1px white solid;
}


/* .categoryTab {
    position: fixed !important;
    width: 50vh;
} */

.s008 {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: url("/public/Searchs_008.png");
    background-size: cover;
    padding: 15px;
    font-family: "Roboto", sans-serif;
}

.s008 form {
    width: 100%;
    max-width: 790px;
    margin: 0;
}

.s008 form .inner-form {
    width: 100%;
}

.s008 form .inner-form .input-field {
    position: relative;
}

.s008 form .inner-form .input-field input {
    height: 100%;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 3px;
    height: 70px;
    color: #555;
}

.s008 form .inner-form .input-field input.placeholder {
    color: #999;
    font-size: 18px;
}

.s008 form .inner-form .input-field input:-moz-placeholder {
    color: #999;
    font-size: 18px;
}

.s008 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #999;
    font-size: 18px;
}

.s008 form .inner-form .input-field input:hover,
.s008 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s008 form .inner-form .input-field .btn-search {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: #e45c27;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    transition: all 0.2s ease-out, color 0.2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

.s008 form .inner-form .input-field .btn-search:hover {
    background: #d7501b;
}

.s008 form .inner-form .input-field .btn-delete {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: transparent;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    transition: all 0.2s ease-out, color 0.2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

.s008 form .inner-form .input-field .btn-delete:hover {
    color: #fff;
}

.s008 form .inner-form .basic-search {
    margin-bottom: 5px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.s008 form .inner-form .basic-search .input-field {
    width: 100%;
}

.s008 form .inner-form .basic-search .input-field input {
    padding: 10px 80px 10px 40px;
}

.s008 form .inner-form .basic-search .input-field .icon-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    height: 100%;
}

.s008 form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 34px;
    height: 34px;
    fill: #ccc;
}

.s008 form .inner-form .advance-search {
    background: #000;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.s008 form .inner-form .advance-search .desc {
    font-size: 15px;
    color: #999;
    display: block;
    margin-bottom: 26px;
}

.s008 form .inner-form .advance-search .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.s008 form .inner-form .advance-search .row.second {
    margin-bottom: 46px;
}

.s008 form .inner-form .advance-search .row.third {
    margin-bottom: 0;
}

.s008 form .inner-form .advance-search .row.third .input-field {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.s008 form .inner-form .advance-search .row.third .input-field .result-count {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    width: 110px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

.s008 form .inner-form .advance-search .row.third .input-field .result-count span {
    color: #e45c27;
    padding-right: 5px;
}

.s008 form .inner-form .advance-search .input-field {
    width: calc(33.3333% - 30px);
}

.s008 form .inner-form .advance-search .input-select {
    height: 40px;
}

.s008 form .inner-form .advance-search .choices__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #ccc;
    height: 100%;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    padding-right: 30px;
    font-size: 14px;
}

.s008 form .inner-form .advance-search .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

.s008 form .inner-form .advance-search .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    color: #666;
}

.s008 form .inner-form .advance-search .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

.s008 form .inner-form .advance-search .choices__list.choices__list--dropdown {
    border: 0;
    background: #000;
    padding: 20px 30px;
    margin-top: 2px;
    border-radius: 4px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.s008 form .inner-form .advance-search .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
}

.s008 form .inner-form .advance-search .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: transparent;
    color: #e45c27;
}

.s008 form .inner-form .advance-search .choices__list--dropdown .choices__item {
    color: #555;
    min-height: 24px;
}

.s008 form .inner-form .advance-search .choices[data-type*="select-one"]:after {
    border: 0;
    width: 32px;
    height: 32px;
    margin: 0;
    transform: none;
    opacity: 1;
    right: 0;
    top: 10px;
    background-size: 18px 18px;
    background-position: right center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.s008 form .inner-form .advance-search .choices[data-type*="select-one"] .choices__button {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23e45c27' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3e%3c/svg%3e");
    background-size: 16px 16px;
    background-position: right center;
    width: 32px;
    height: 32px;
    opacity: 1;
    display: none;
    top: 10px;
    right: 0;
    transform: none;
    margin: 0;
}

.s008 form .inner-form .advance-search .choices[data-type*="select-one"].valid .choices__button {
    display: block;
}

.s008 form .inner-form .advance-search .choices[data-type*="select-one"].valid .choices__button:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z'/%3e%3c/svg%3e");
}

.s008 form .inner-form .advance-search .choices[data-type*="select-one"].valid:after {
    display: none;
}

.s008 form .inner-form .advance-search .choices[data-type*="select-one"].is-open:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
}

@media screen and (max-width: 767px) {
    .s008 form .inner-form .basic-search .input-field input {
        padding: 10px 60px 10px 40px;
    }
    .s008 form .inner-form .basic-search .input-field .icon-wrap {
        width: 60px;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .s008 form .inner-form .basic-search .input-field .icon-wrap svg {
        width: 26px;
        height: 26px;
    }
    .s008 form .inner-form .advance-search .row {
        display: block;
    }
    .s008 form .inner-form .advance-search .input-field {
        width: 100%;
        margin-bottom: 20px;
    }
}